1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [ ]:
a=list()
m="MickeyMouse"
k="Mickey"
s="Mouse"
l="Donald"
d="Duck"

for i in range (1,101):
    if(i%3==0):
        if(i%5==0):
            print(m)
            a.append(m)
        
        else:
            print(k)
            a.append(k)
            
    elif(i%5==0):
        print(s)
        a.append(s)
        
    else:
        print(i)
        a.append(i)


a=[l if i==k else i for i in a]
a=[d if i==s else i for i in a]
a=[l+d if i==m else i for i in a]

t=tuple(a)


for j in t:
    print(j)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
x=input("x= ")
y=input("y= ")

def switch(a,b):
    return b,a

x, y = switch(x,y)
print(x,y)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
import math as m

a=(3,0)
b=(0,4)

def dist(u,v):
    print(u[0],u[1],v[0],v[1])
    d=m.sqrt( (u[0]-v[0])**2+(u[1]-v[1])**2 )
    return d

print(dist(a,b))

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

c=0
for i in s:
    if(i=="s"):
        c+=1
    elif(i=="S"):
        c+=1
print(c)

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [66]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

c=0
for i in l:

    k=0
    for j in l:
        
        if(i==j):
            k+=1
      
    if(k==1):
        c+=1
        print(i)

print('\n')
print(c)

58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53


37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [90]:
def sq(a):
    b=float(a)**2
    return b

def cb(a):
    b=float(a)**3
    return b

def sx(a):
    b=sq( cb(a) )
    return b
         
x=input("x= ")
y=sx(x)
print(y)

x= 2
64.0

In [7]:
def sq(a):
    a=float(a)**2
    print(a)
x=input("x= ")
sq(x)

x= 1.1
1.2100000000000002

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [100]:
a=list()
for x in range(0,11):
    a.append(x**3)
print(a)
    
b= [x**3 for x in range (0,11)]
print(b)

c=list(x**3 for x in range(11))
print(c)

0
1
8
27
64
125
216
343
512
729
1000
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [122]:
k=[]
ll=[]
for a in range(1,100):
    for b in range(1,100):
            for c in range(1,100):
                if(c**2==a**2+b**2):
                    
                    l=[a,b,c]
                    l.sort()
                    ll.append(l)

ll.sort()


for i in ll:
    if i not in k:
        k.append(i)

print(k)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [130]:
def norm(a):
    l=[]
    s=0
    
    for i in a:
        s=s+i
    for i in a:
        l.append(i/s)

    b=tuple(l)
    return b

a=(1,2,3,4,5,6,7,8,9)
b=norm(a)

print(b)

(0.022222222222222223, 0.044444444444444446, 0.06666666666666667, 0.08888888888888889, 0.1111111111111111, 0.13333333333333333, 0.15555555555555556, 0.17777777777777778, 0.2)